uninstall.sh
tandem_tmp
tandem.env
.go
.vagrant
.ruff_cache
.config
*.log
result
.tandem/data
tandem
.opencode
OpenCode.md
.predicted_expected_output.json
kali
.github/GEMINI.md
.github/QWEN.md
.direnv
.envrc

# Added by goreleaser init:
dist/
